header {
    border-bottom: 1px solid lightslategray;
    
  }
  header .logo {
    height: 3rem;
  }
  header a {
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 400;
    color: black;
    transition: all .15s;
  }
  header a:hover {
    color: rgb(97, 17, 172);
    font-weight: bold;
    border-bottom: 1px solid rgb(97, 17, 172);
    transition: all .15s;
  }
  header div{
    align-items: center;
    
  }